.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:    16px / 1.6em "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:   600 26px / 1.3em "Assistant", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: none;
}
@media (max-width: 1024px) {
  .editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
  .editor-styles-wrapper .wp-block-cover h2 {
    font-size: 24px;
  }
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 16px;
  line-height: 1.6em;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 14px;
  line-height: 1.4em;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 12px;
  line-height: 1.3em;
}
.wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce > h1 {
  font:   600 52px / 1em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media (max-width: 1024px) {
  .wp-block-heading h1,
  .wp-block-freeform.block-library-rich-text__tinymce > h1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .wp-block-heading h1,
  .wp-block-freeform.block-library-rich-text__tinymce > h1 {
    font-size: 36px;
    line-height: 1.1em;
  }
}
.wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce > h2 {
  font:   600 38px / 1.1em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media (max-width: 1024px) {
  .wp-block-heading h2,
  .wp-block-freeform.block-library-rich-text__tinymce > h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .wp-block-heading h2,
  .wp-block-freeform.block-library-rich-text__tinymce > h2 {
    font-size: 28px;
    line-height: 1.2em;
  }
}
.wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce > h3 {
  font:   600 26px / 1.3em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media (max-width: 1024px) {
  .wp-block-heading h3,
  .wp-block-freeform.block-library-rich-text__tinymce > h3 {
    font-size: 24px;
  }
}
.wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce > h4 {
  font:   600 21px / 1.3em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce > h5 {
  font:   600 18px / 1.3em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
@media (max-width: 767px) {
  .wp-block-heading h5,
  .wp-block-freeform.block-library-rich-text__tinymce > h5 {
    line-height: 1.3em;
  }
}
.wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce > h6 {
  font:   600 16px / 1.4em "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:   600 16px / 1 "Assistant", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  letter-spacing: 0px;
}
