.elementor-10 .elementor-element.elementor-element-32da809 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10 .elementor-element.elementor-element-32da809{padding:60px 0px 60px 0px;}.elementor-10 .elementor-element.elementor-element-9739361{text-align:left;color:#000000;font-family:"Raleway", Sans-serif;font-size:50px;font-weight:900;text-transform:capitalize;}.elementor-10 .elementor-element.elementor-element-aacd78c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-aacd78c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#593E97;}.elementor-10 .elementor-element.elementor-element-aacd78c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:30px 30px 30px 30px;}.elementor-10 .elementor-element.elementor-element-aacd78c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10 .elementor-element.elementor-element-07e6363{text-align:center;}.elementor-10 .elementor-element.elementor-element-07e6363 .elementor-heading-title{color:#FFFFFF;font-family:"Raleway", Sans-serif;font-size:35px;font-weight:500;text-transform:capitalize;}.elementor-10 .elementor-element.elementor-element-07e6363 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-10 .elementor-element.elementor-element-ca2bc30{text-align:center;color:#FFFFFF;font-family:"Raleway", Sans-serif;font-size:15px;font-weight:400;}/* Start custom CSS for section, class: .elementor-element-32da809 */body{
    background:#f2eff7 !important;
}

.main-header{
    background: transparent !important;
}
.social_login_cls .nsl-container-buttons {
       width: 100%;
    }
    .social_login_cls .nsl-button.nsl-button-default {
        background-color: transparent!important;
        border: 1px solid #fff;
        justify-content: center;
        align-items: center;
    }
    .social_login_cls .nsl-container-buttons .nsl-button-svg-container {
        padding: 0px!important;
        background-color: transparent!important;
        margin-right: 8px!important;
    }
    .social_login_cls .nsl-container-buttons .nsl-button-label-container {
        flex: unset!important;
        margin: 0px!important;
    }
    .social_login_cls .nsl-button-google .nsl-button-svg-container svg {
        background-color: #fff!important;
        border-radius: 50px;
    }
    .social_login_cls {
    margin-bottom: 0px!important;
        padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 750px) {
.social_login_cls {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 479px) {
.social_login_cls {
    padding-left: 0px;
    padding-right: 0px;
}
}/* End custom CSS */